<div class="author-detail">
  <div class="author-detail__container">
    <div class="row">
      <div class="author-detail__avatar">
        <img src="./assets/images/ichikawatakuji.jpg" alt="hinhanh" />
      </div>
      <div class="author-detail__info">
        <h2>{{ author.name }}</h2>
        <p><b>Date of Birth:</b> {{ author.dob | date: "mediumDate" }}</p>
        <p><b>Country:</b> {{ author.nationality }}</p>

        <p><b>Story:</b></p>
        <p>
          {{ author.story }}
        </p>
      </div>
    </div>
  </div>
  <div class="author-detail__book books">
    <h3 class="main-title">Book of IchiKawa Takuji</h3>
    <div class="row">
      <div class="books__grid" *ngFor="let book of books">
        <div class="content">
          <img src="{{ book.image }}" alt="hinhanh" />
          <div class="content__inner">
            <a routerLink="/books/detail/{{ book._id }}" class="title">{{
              book.title
            }}</a>
            <p class="description">{{ book.content }}</p>
            <a class="author">{{ author.name }}</a>
          </div>
          <div class="menu-mini">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
              class="menu-mini__icon"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item [routerLink]="['update', book._id]">
                <mat-icon>change_circle</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item>
                <mat-icon>clear</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
