@import '../../../styles.scss';
.col-left {
  width: calc(100% / 12 * 6);
  padding: 0 15px;
  img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
  @include media(540px){
    width: 100%;
    margin-bottom: 30px;
  }
}
.col-right {
  width: calc(100% / 12 * 6);
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  .content {
    flex-grow: 1;
  }
  @include media(540px){
    width: 100%;
  }
}
.btn-detail {
  width: 100px;
  margin-left: auto;
}
.content {
  &__title {
    font-weight: bold;
    color: #3f51b5;
  }
  &__author {
    color: #3f51b5;
  }
}
.group-btn {
  display: flex;
  justify-content: space-between;
}
.heartbeat {
  animation: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes beat {
  0% {
    transform: scale(1) ; 
  }
  50% {
    transform: scale(0.5) ;
  }
}
