
.col-left {
  width: calc(100% / 12 * 5);
  padding: 0 15px;
  img {
    width: 100%;
    object-fit: cover;
  }
}
.col-right {
  width: calc(100% / 12 * 7);
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  .content {
    flex-grow: 1;
  }
}
.btn-detail {
  width: 100px;
  margin-left: auto;
}
.content {
  &__title{
    font-weight: bold;
    color: #3f51b5;
  }
  &__author {
    color: #3f51b5;
  }
}
.group-btn{
  display: flex;
  justify-content: space-between;
}