<div class="authors spacing">
  <ngx-spinner
    [fullScreen]="false"
    type="ball-clip-rotate-multiple"
    size="large"
  >
    <p class="loading">Loading .....</p>
  </ngx-spinner>
  <div class="authors__header">
    <h1>List of <span style="color: #3f51b5">Authors</span></h1>
    <a mat-flat-button color="accent" routerLink="add" *ngIf="isAdmin">ADD +</a>
  </div>

  <div class="author" *ngFor="let author of authors">
    <div class="author__icon">
      <mat-icon>people</mat-icon>
      <a routerLink="/authors/detail/{{ author._id }}">{{ author.name }}</a>
    </div>
    <div class="author__action">
      <div class="action-btn" *ngIf="isAdmin">
        <button
          mat-mini-fab
          color="primary"
          [routerLink]="['update', author._id]"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="action-btn" *ngIf="isAdmin">
        <button mat-mini-fab color="warn" (click)="onDelete(author._id)">
          <mat-icon>delete_sweep</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
