.authors {
  margin-top: 50px;
  .author {
    cursor: pointer;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid black;
    h2 {
      margin: 0;
      margin-left: 20px;
    }
    &:hover {
      color: #3f51b5;
      transition: 0.5s all;
    }
  }
}
