<mat-toolbar color="primary">
  <div class="hamburger">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <a routerLink="/" class="logo"> BookStore </a>
  <div class="group-bar">
    <a routerLink="/books">
      <mat-icon>library_books</mat-icon>
      Books
    </a>
    <a routerLink="/authors">
      <mat-icon>people</mat-icon>
      Authors
    </a>
  </div>
  <div *ngIf="token">
    <button
      mat-raised-button
      [matMenuTriggerFor]="menu"
      class="group-bar__user"
    >
      <mat-icon style="margin-right: 10px">account_circle</mat-icon>
      <span> {{ user.result.name }}</span>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/user/{{ user.result._id }}">
        <mat-icon color="primary">info</mat-icon>
        <span style="color: #000">Information</span>
      </a>
      <button mat-menu-item (click)="logOut()">
        <mat-icon color="warn">logout</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </div>
  <div *ngIf="!token">
    <a routerLink="/login" style="display: flex; align-items: center">
      <mat-icon style="margin-right: 5px">account_circle</mat-icon>
      Account
    </a>
  </div>
</mat-toolbar>
