<div class="form-group spacing">
  <h3>{{ isUpdate ? "Update Book" : "Add Book" }}</h3>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit(bookForm.value)">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="Title of book"
        required
        formControlName="title"
      />
      <mat-error *ngIf="bookForm.controls.title.touched && bookForm.controls.title.invalid">
        <span *ngIf="bookForm.controls.title.errors.required">Title is required.</span>
      </mat-error>   
     </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Content</mat-label>
      <textarea matInput required formControlName="content"></textarea>
      <mat-error *ngIf="bookForm.controls.content.touched && bookForm.controls.content.invalid">
        <span *ngIf="bookForm.controls.content.errors.required">Content is required.</span>
      </mat-error>  
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Author</mat-label>
      <input
      type="text"
        matInput
        placeholder="Author name"
        required
        formControlName="authorId"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option._id">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="bookForm.controls.authorId.touched && bookForm.controls.authorId.invalid">
        <span *ngIf="bookForm.controls.authorId.errors.required">Author is required.</span>
      </mat-error>  
    </mat-form-field >
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Image</mat-label>
      <input matInput placeholder="Image" formControlName="image" />
    </mat-form-field>
    <div class="form__button">
      <button mat-raised-button color="primary" type="submit" [disabled]="!bookForm.valid">
        {{ isUpdate ? "Update" : "Submit" }}
      </button>
    </div>
  </form>
  <button type="button" mat-raised-button color="warn" (click)="clearData()">Clear</button>
</div>
